a {
    color: black;
}
body {
    background-color: forestgreen;
}
h1 {
    color: aqua;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}

.image-container {
  width: 200px;
  height: 300px;
  border: 1px solid black;
}

img {
  position: absolute;
  top: -200;
  left: 200;
}

